@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Ubuntu+Mono:wght@400;700&display=swap");

:root {
  --text-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none;
  color: var(--text-color);
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style-type: none;
}

li {
  display: inline;
  margin-right: 25px;
}
